@import '../../../global/Neons.scss';

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    font-family: 'Montserrat';
}

.menu-item{
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
    color:$purple-text-color;
    text-shadow: $header-purple-neon;
    text-transform: lowercase;
    letter-spacing: 3px;

    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
         bottom: -2px;
        left: 0;
        background-color: $ligh-text-color;
        transition: .3s ease-in-out;
        color: $purple-text-color;
        box-shadow: $neon-purple;
    }

 
}



.menu-item:hover::after {
    width: 105%;
  }


  
