@import "../../global/Neons.scss";
@import "../../global/Breakpoints.scss";

.wrapper {
  margin-top: 5rem;
  padding: 0 1.5rem;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  animation: slide-down 1s ease-in-out;
}

.header {
  width: 90%;
  font-family: "Sacramento";
  font-weight: 300;
  font-size: 6rem;
  margin-top: 10rem;
  line-height: 5rem;
  color: $red-text-color;
  text-shadow: $neon-red;
  animation: blink-red 6s infinite;
}

.typing-animation {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
  font-family: "Roboto Mono";
  text-align: center;
  color: $blue-text-color;
  text-shadow: $neon-blue;
  // background: blue;
}

.typewriter {
  // background: red;
  width: max-content;
}

@include media-query-768 {
  .header {
    font-size: 8rem;
  }
  .typewriter{
    font-size: 2rem;
  }
}

@include media-query-1024{
  .wrapper{
    gap: 8rem;
  }
  .header {
    font-size: 8rem;
  }
  .typing-animation{
    width: 70%;
  }
  .typewriter{
    font-size: 2rem;
  }
}
