@import '../../global/Neons.scss';
@import '../../global/Breakpoints.scss';

.header{
    font-family: 'Sacramento';
    
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: $background-color;
}

.desktop-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.logo{
    font-size: 1.3rem;
    display: flex;
    cursor: pointer;

}

.buttons{
    display: flex;
}

.neon-logo{
    color: $purple-text-color;
    text-shadow: $header-purple-neon;
}

.neon-store{
    color: $yellow-text-color;
    text-shadow: $header-yellow-neon;
}

@include media-query-768{
    .header{
        padding: 0 2rem;
    }

    .logo{
        font-size: 1.5rem;
        margin-right: 2rem;
    }
}


